body.active-filter {
    width: calc(100% - 280px);
}

.filter-menu {
    width: 250px;
    padding: 1.5vw;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

.filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ddd;
    border-radius: 10px;
    padding-left: 13px;
}

.reset-btn{
    text-align: right;
}

.chips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.white-space{
    height: 1em;
}