@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300&display=swap');

body.active-modal {
    overflow-y: hidden;
}

.photocards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 66px;
    justify-content: flex-start;
    row-gap: 30px;
    column-gap: 40px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.photocard{
    width: 400px;
    height: 540px;
    background-color: #80C0E4;
    border-radius: 20px;

    img{
        border-radius: 20px 20px 0px 0px;
    }

    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
        color: #D6385C;
        margin-top: 10px;
        padding-left: 15px;
    }

    h3{
        text-align: right;
        padding-right: 15px;
        margin-top: -2px;
        font-weight: 400;
        font-size: 1em;
    }

    ul{
        list-style-type: none;
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: -15px;
    }

    li{
        display:inline-block;
        padding-left: 3px;
        padding-right: 3px;
    }
}

.like-button {
    position: relative;
    background-color: transparent;
    border: none;
    top: -40px; /* this is like this because the card form is larger then the colored area so neg it to get higher */
    left: 10px; 
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eee;
    border-color:#80C0E4;
    border-width: 10px;
    border-style: solid;
    padding: 0;
    width: 80vw;
    max-width: 780px;
    min-width: 300px;
    max-height: 95vh;
    overflow: auto;
    text-align: center;
    border-radius: 30px;
    scrollbar-width: thin;
    scrollbar-color: #fff #444;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333;

    img {
        max-width: 400px;
        width: 70vw;
        height: auto;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
        color: #D6385C;
        width: 100%;
        height: 3rem;
        padding-top: .5rem;
        background-color:#80C0E4;
        text-align: center;
        position:relative;
        top: -27px;
    }

    table {
        width: 90%;
        margin-top: -44px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        border-spacing: 0;
        table-layout: fixed;

        th {
            border-bottom: 2px solid #ccc;
            padding: 6px 0;
        }
        td {
            padding: 6px 0;
        }
    }

    p {
        text-align: justify;
        padding: 0 6%;
        line-height: 1.3em;
    }
}

.modal-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 30px;

    button {
        border: 0;
        background: none;
    }
}