@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=League+Gothic&family=Poppins&display=swap');

.signup-page {
    width: 100%;
    min-height: 65vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-page input {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
}


.signup-page form {
    padding: 20px;
    margin: 0 auto;
    width: 90%; 
    max-width: 500px; 
}

/* Ensure the form-group doesn't cause any overflow */
.form-group {
    overflow: hidden; /* clearfix */
}


.signup-page h2 {
    font-family: 'League Gothic', sans-serif;
    font-size: 2.5rem;
    color: #5086A5;
    margin-bottom: 20px;
}

.signup-page label {
    display: block;
    margin-bottom: 5px;
    color: #4A4A4A;
}


.signup-page button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #E35D7B;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.signup-page button:hover {
    background-color: #c04d67;
}

