<!-- from https://www.twilio.com/en-us/blog/media-file-storage-python-flask-amazon-s3-buckets -->
<!DOCTYPE html>
<html>
  <head>
    <title>Display images</title>
  </head>
  <body>
    <div class="content">
        <div>
          <h3>Testing link retrieved from GET:</h3>
          <ul>
              <li>
                <img src='https://467-pet-images.s3.us-east-2.amazonaws.com/uploads/mona.jpg' style="width: 250px">
                <img src='https://467-pet-images.s3.us-east-2.amazonaws.com/uploads/orion.jpg' style="width: 250px">
              </li>
          </ul>
        </div>
    </div>
  </body>
</html>
